[Unit]
Description=Weather Sensor Reader and Writer
After=network.target

[Service]
Type=simple
User=<username>
Group=<username>
WorkingDirectory=/home/<username>/weather_station_alpha
ExecStart=/home/<username>/weather_station_alpha/weather_env/bin/python /home/<username>/weather_station_alpha/sensor_reader_writer.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target